
dj-database-url==0.5.0
Django==3.0.7
django-bootstrap4==2.3.1
django-cors-headers==3.5.0
django-discover-runner==1.0
django-heroku==0.3.1
django-role-permissions==3.1.1
djangorestframework==3.12.2
docutils==0.15.2
gunicorn==20.0.4
imutils==0.5.3
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
jsonschema==3.2.0
pickleshare==0.7.5
pandas==1.2.3
plotly==4.9.0
requests==2.24.0
scikit-learn==0.23.1
uvicorn==0.12.3
validators==0.16.0
virtualenv==20.1.0
virtualenv-clone==0.5.4
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
