{% load static %}
<section class="section coronavirus">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 text-position">
                        <figure class="covidImage">
                            <img class="img-fluid" src="{% static 'images/recommendations.png' %}" class="covidImage__image" alt="Corona Virus" width="400" height="400">
                        </figure>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 text-position">
                        <h1 style="color:green;font-size:25px;font-family:Lucida Console">What Is Recommendation System?</h1>
                        <br/>
                        <span style="color:red;font-size:40px;font-family:Lucida Console">Recommender</span>
                        <br/>
                        <p id="p1" style="color:black;font-size:15px;font-family:Lucida Console;padding-bottom: 50px;">
                            In a very general way, recommender systems are algorithms aimed at suggesting relevant items to users (items being movies to watch, text to read, products to buy or anything else depending on industries).
                        </p>
                        <a href="https://en.wikipedia.org/wiki/Recommender_system" style="
  background: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
  padding: 21px 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  top: 55px;
  text-transform: capitalize;
  color: #FA5652;
  text-decoration: none;">
  Learn More
  </a>
                    </div>
                </div>
            </div>
        </section>