{% extends 'System/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<div class="main-container">
  <div class="heading-container">
    <h1 class="heading" style="font-family:Lucida Console">Why Recommendation System?</h1>
    
  </div>
  <br/>
  <br/>
  <div class="card-container">
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title" style="font-family:Lucida Console">Recommender systems recommend items to users such as books, movies, videos, electronic products and many other products in general. </h2>
      
    </div>
    <div class="card card-2" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title">  Recommender systems help the users to get personalized recommendations, helps users to take correct decisions in their online transactions, increase sales and redefine the users web browsing experience, retain the customers, enhance their shopping experience.</h2>
      
    </div>
    <div class="card card-3" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title">Companies using recommender systems focus on increasing sales as a result of very personalized offers and an enhanced customer experience. </h2>
      
    </div>
    <div class="card card-4" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title">Recommendations typically speed up searches and make it easier for users to access content they’re interested in, and surprise them with offers they would have never searched for.</h2>
      
    </div>
    <div class="card card-5" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title">Information overload problem is solved by search engines, but they do not provide personalization of data. Recommendation engines provide personalization. </h2>
      
    </div>
    <div class="card card-1" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title"> Providing that added value to users by including recommendations in systems and products is appealing. Furthermore, it allows companies to position ahead of their competitors and eventually increase their earnings.</h2>
      
    </div>
  </div>
</div>

{% endblock content %}