{% extends 'System/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<div class="main-container">
  <div class="heading-container">
    <h1 class="heading" style="font-family:Lucida Console">Why Recommendation System?</h1>
    
  </div>
  <br/>
  <br/>
  <div class="card-container">
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title" style="font-family:Lucida Console">Recommender systems recommend items to users such as books, movies, videos, electronic products and many other products in general. </h2>
      
    </div>
    <div class="card card-2" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title">  Recommender systems help the users to get personalized recommendations, helps users to take correct decisions in their online transactions, increase sales and redefine the users web browsing experience, retain the customers, enhance their shopping experience.</h2>
      
    </div>
    <div class="card card-3" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title">House price predictions are also beneficial for property investors to know the trend of housing prices in a certain location</h2>
      
    </div>
    <div class="card card-4" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title">House price prediction model helps fill up an important information gap and improve the efficiency of the real estate market</h2>
      
    </div>
    <div class="card card-5" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title">User can understand which features (ex. Number of bathrooms, location, etc.) influence the final price of the house. If all matches, they can ensure that they are getting a fair price.</h2>
      
    </div>
    <div class="card card-1" style="font-family:Lucida Console">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title">House prices are a significant impression of the economy, and its value ranges are of great concerns for the clients and property dealers.</h2>
      
    </div>
  </div>
</div>

{% endblock content %}